*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
}

body{
    font-family:'Poppins', sans-serif;
}
/* navigation bar */


nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color:#42C2FF;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    width:100%;
}
.logo{
    color:#EFFFFD;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display:flex;
    justify-content: space-around;
    width:50%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #EFFFFD;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
}
.burger{
    position: relative;
    left:5%;
    display: none;
    cursor:pointer;
}
.burger div{
    width:25px;
    height:3px;
    background-color: #EFFFFD;
    margin: 5px;
    transition: all 0.5s ease;
}


@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right:0;
        height:92vh;
        top:8vh;
        background-color: #42C2FF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform:translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform:translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* homepage */

.home{
    background: linear-gradient(to bottom left, #B8FFF9 50%,  #85F4FF 50%);
    height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}

.home .datetime{
    color: #42C2FF;
    position:absolute;
    top:10%;
    right:2%;
    font-family: 'Poppins', sans-serif;
}

.home h1{
    color:black;
    font-family: 'Source Code Pro', monospace;
    padding-bottom: 10%;
}
.home h1 span{
    color:#42C2FF;
    animation:blink 1s linear infinite;
}
.subtitle {
    color: #42C2FF;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 3s forwards;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(-2rem);
    }
}

/* about page */

.about{
    min-height: 100vh;
    background-color: #B8FFF9;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about h1{
    font-size:3rem;
    color:#42C2FF;
}
.about .content{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about img{
    height: 384px;
    width:240px;
    margin-bottom: 16px;
    margin-left: 3px;
    margin-right: 3px;
}
.about img:hover{
    height:400px;
    width:246px;
    margin:0px;
}

.about .message{
    width:60%;
    font-size: medium;
    color:black;
}
.about .message a{
    text-decoration: none;
    color:#42C2FF;
    background-color: transparent;
    border:2px solid #42C2FF;
    border-radius: 5px;
    padding:3px;
    font-size: 1.5rem;
}
.about .message a:hover{
    background-color:aqua;
}


/* skills */

.skills{
    min-height: 100vh;
    background-color: #85F4FF;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.skills h1{
    font-size:3rem;
    color:#42C2FF;
}
.skills .logos{
    min-height:400px;
    width:60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skills img{
    margin:25px;
    height:75px;
    width:75px;
}
.skills img:hover{
    margin:22.5px;
    height:80px;
    width:80px;
}

.skills .logos div{
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 20px;
}

/* projects */

.projects{
    background-color: #B8FFF9;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects h1{
    font-size:3rem;
    color:#42C2FF;
}
.projects .work{
    min-height:400px;
    width:80%;
    display: flex;
    align-items: center;
    overflow: scroll;
}
.projects .work::-webkit-scrollbar{
    height: 5px;
}
.projects .work::-webkit-scrollbar-track {
    background:#85F4FF; 
  }
.projects .work::-webkit-scrollbar-thumb {
    background: #42C2FF; 
}
.projects a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects img{
    width:400px;
    margin:20px;
}
.projects img:hover{
    width:410px;
    margin:15px;
}

/* contact */
.contact{
    min-height: 100vh;
    background-color: #85F4FF;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}